#background {}

.usual-text {
    font-family: e-UkraineLight;
    line-height: 1.5em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 0;
    box-align: justify;
    margin-left: 12.5%;
    margin-right: 20%;
    margin-bottom: 50px;
    margin-top: 50px;
    width: calc(67% - 36px);
    position: relative;
    width: 67%;
    max-width: 50%;
}

#selectButton,
#selectButton_3,
#selectButton_1 {
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    cursor: pointer;
    background-color: white;
    font-family: e-UkraineLight;
    max-width: 50%;
    margin-left: 12.5%;
    margin-right: 20%;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    border: 2px solid black;
    padding: 12px 56px;
    border-radius: 40px;
}

#var-1,
#var-2,
#var-3,
#var-4,
#var-5,
#var-6 {
    font-family: e-UkraineLight;
    display: inline-block;
    font-size: 1em;
    border: 2px solid black;
    border-radius: 40px;
    background-color: black;
    cursor: pointer;
    background-origin: border-box;
    border: 2px solid transparent;
    position: relative;
    border: 2px solid black;
    padding: 12px 56px;
    border-radius: 40px;
    transition: opacity .5s;
    background-color: white;
    margin-bottom: 20px;
    align-self: center;
}

.small-header {
    font-size: 2.9em;
    font-family: e-UkraineLight;
    line-height: 1.5em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 0;
    box-align: justify;
    margin-left: 12.5%;
    margin-right: 20%;
    margin-bottom: 50px;
    margin-top: 50px;
    position: relative;
    width: 67%;
    max-width: 50%;
}

#second-graph {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    max-width: 70%;
    margin-left: 12.5%;
    margin-right: 20%;
}

#var-3 {
    grid-column: 2;
    grid-row: 1;
    display: block;
}

#var-4 {
    grid-column: 2;
    grid-row: 2;
    display: block;
}

#var-5 {
    grid-column: 2;
    grid-row: 3;
    display: block;
}

#second-graph-grid {}

#second-graph-grid-buttons {
    grid-column: 2;
    grid-row: 1;
}

#second-graph-grid-graph {
    grid-column: 1;
    grid-row: 1;
}

#gray-text {
    background-color: rgb(241, 241, 241);
}

#line_chart .line {
    stroke-width: 3px;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

path.domain {
    display: none
}

g.tick line {
    display: none
}

#line_chart svg g g.grid g.tick line {
    display: block
}

.container .how-to-section-wrapper {
    max-width: 1680px;
}

.back-color {
    background-color: #E2ECF4;
    width: 100%;
    padding: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

#data_db_merged_pivot_sorted {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 50%;
    margin-left: 12.5%;
    margin-right: 20%;
}

#line_chart {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 50%;
    margin-left: 12.5%;
    margin-right: 20%;
}

#two-buttons {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 12.5%;
    margin-right: 20%;
    max-width: 50%;
}

#regulator_raiting {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 50%;
    margin-left: 12.5%;
    margin-right: 20%;
}

#inspectors_count {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 50%;
    margin-left: 12.5%;
    margin-right: 20%;
}

#inspectors_count .tooltip {
    position: absolute;
}

.graph-box-two {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    padding: auto;
}

#violations_barplot {
    grid-column: 1;
    position: relative;
    max-width: 50%;
    margin-left: 12.5%;
}

#violations_barplot .tooltip {
    position: absolute;
    z-index: 999;
    pointer-events: none;
}

#violations_db_pivot {
    grid-column: 2;
    position: relative;
    max-width: 50%;
    margin-left: 12.5%;
}

#violations_db_pivot .tooltip {
    position: absolute;
    z-index: 999;
    pointer-events: none;
}

#inspectors_positions {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 50%;
    margin-left: 12.5%;
    margin-right: 20%;
}

#inspectors_positions .tooltip {
    position: absolute;
}

#inspectors_db_true_merged_2 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-left: 12.5%;
    margin-right: 20%;
}

#inspectors_db_true_merged_2 .tooltip {
    position: absolute;
}