#regulator_raiting {
    position: relative;
}

#regulator_raiting .tooltip {
    position: absolute;
    z-index: 999;
    pointer-events: none;
    font-family: 'e-Ukraine-Regular', sans-serif;
}
#regulator_raiting .bar{
    fill: rgb(71, 98, 171); 
    stroke-width: 0px;
    border-radius: 40px;
}